/* Custom styles for Swiper buttons */
.custom-prev, .custom-next {
    position: absolute;
    top: 50%;
    z-index: 10;
    width: 40px;
    height: 40px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .custom-prev {
    left: 10px;
    transform: translateY(-50%);
  }
  
  .custom-next {
    right: 10px;
    transform: translateY(-50%);
  }
  
  .custom-prev:hover, .custom-next:hover {
    background-color: #1a1a1a;
  }
  